body {
  background: #fffbef;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30 px 0;
  margin-top: 15px;
}

.App-logo {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  box-shadow: 12px 12px 2px 1px rgba(235, 196, 125, 0.2);
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
